<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
  <link rel="stylesheet" type="text/css" href="AllPage.css">
</head>
<body>
<div>
  <h2>Welcome! Admin</h2>
    <a href="/players/add" class="add-item">
      Add new player
    </a>
  </div>
  <table>
    <tr>
      <th>Player name</th>
      <th>Biography</th>
      <th>Points Per Game</th>
      <th>Votes for MVP</th>
      <th>Actions</th>
    </tr>
    <!-- For each player you should have one <tr> like below -->
    <tr class="item" th:each="player : ${playerlist}">
      <td th:text="${player.getName()}">[player.name]</td>
      <td th:text="${player.getBio()}">[player.bio]</td>
      <td th:text="${player.getPointsPerGame()}">[player.pointsPerGame]</td>
      <td th:text="${player.getVotes()}">[player.votes]</td>
      <td>
        <!-- PlayersController.delete -->
        <form method="post" th:action="@{'/players/{id}/delete' (id=${player.getId()})}">
          <button type="submit" class="delete-item">Delete</button>
        </form>
        <!-- PlayersController.showEdit -->
        <!-- PlayersController.vote -->
        <form method="post" th:action="@{'/players/{id}/vote' (id=${player.getId()})}">
          <button type="submit" class="like-item">Vote for Player</button>
        </form>
      </td>
    </tr>
  </table>
<div>
  <ul id="nav">
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
</body>
</html>