<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="AllPage.css">
</head>
<body>
<form method="post" action="/login">
    <h2>Login</h2>
    <label for="email">Email: </label><br><input type="text" name="email" id="email"><br>
    <label for="password">Password: </label><br><input type="text" id="password" name="password"><br>
    <br>
    <button class="submit" type="submit">Login</button>
</form>
</body>
